.pages-inicio{
    margin: 0;
    padding: 0;
}

header {
    display: flex;

    height: fit-content;
    height: 50px;
    width: 250vh;

    background-color: #ffffff;
    opacity: 0.5;
    position: fixed;
    left: 0;
    top: 0;
    padding: 9px 0;
}


.op{
    
    margin-top: -30em;
    margin-left: 22vh;
}

.loloe{
    font-family: "fonte1";
    font-size: 20px;
    color: #ffffff;
    border: solid 2px;
    background-color: #000000;
    border-radius: 20px;
   margin-left: 120vh;

    margin-top: -20px;
    font-family: "Montserrat",sans-serif;
}



.aa{
    display: flex;
    height: 70px;
    margin-top: -73px;
    margin-left: 70px;
}

.nome{
    display: flex;
    height: 50vh;
    margin-left: 60vh;
    
}

.oi{
    display: flex;
    margin-top: -3vh;
    height: 20vh;
    margin-left: -12vh;
    
}



.vv{

    font-size: 40px;
    line-height: 50px;
    margin-top: 230px;
    margin-left: -vh;
    color: #004866;

    font-family: "Montserrat",sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
}

.agenda{
    font-family: "fonte1";
    font-size: 20px;
    color: #1e6786;
    background-color: rgb(58, 173, 240);
    border: solid 2px;
    border-radius: 15px;
    width: 160px;
    height: 35px;
    cursor: pointer;
    margin-top: -100px;
    position: absolute;
    margin-left: 13rem;



    font-family: "Montserrat",sans-serif;
}

.tudo{
    background-image: url("../../images/mlkjh.jpg");
    height: 59vh;
    width: 150vh;
    background-size: 210vh;
}

.tt{
    text-align: center;
    margin-left: 80vh;
    margin-top: -8vh;

    font-family: "Montserrat",sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
}

.os{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 90px;
    padding: 80px;
    margin-left: 10vh;
    

    font-family: "Montserrat",sans-serif;
    font-style: normal;
    font-weight: 400;
}

.imp{
    display: flex;
    justify-content: center;
    align-items: center;

    margin-left: 16vh;
}


.m{
    display: flex;
    justify-content: center;
    align-items: center;

    margin-left: 16vh;
}

.text{
    color: #004866;
}


.lu{

    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    padding: 80px;
   
    

    font-family: "Montserrat",sans-serif;
    font-style: normal;
    font-weight: 400;
}

.quem{
    display: flex; 
    height: 35vh;
}

.ff{
    display: flex;
    background-color:#C5EBF3;
    height: 35vh;
}

.pi{
    margin-top: -80px;   
    margin-left: 45px;

    font-family: "Montserrat",sans-serif;
}

.ul{
    text-align: center;
    margin-top: 100em;
    height: 90px;
    font-size: 18px;
    margin: 20px;

    padding: 29px;

    font-family: "Montserrat",sans-serif;
    font-style: normal;
    font-weight: 400;
}

.qm{
    margin-top: 150px;
}

.zx{
    display: flex;
   
    background-color: rgb(136, 124, 124);
    margin-top: 89px;
}

.jj{
    height: 50vh;
    border-radius: 50px;
    margin-left: 45px;
}


.lk{
    box-sizing: border-box;
    outline: 0;
    outline-color: initial;
    outline-style: initial;
    outline-width: 0px;
    line-height: inherit;

  

    margin: 0;  
    padding: 0;
    border: 0;
    vertical-align: baseline;
    background: none repeat scroll 0 0 transparent;
    font-family: inherit;

    text-align: center;
    letter-spacing: 0px;
    text-shadow: none;

}

.na{
    box-sizing: border-box;
    outline: 0;
    outline-color: initial;
    outline-style: initial;
    outline-width: 0px;
    line-height: inherit;

  

    margin: 0;  
    padding: 0;
    border: 0;
    vertical-align: baseline;
    background: none repeat scroll 0 0 transparent;
    font-family: inherit;

    text-align: center;
    letter-spacing: 0px;
    text-shadow: none;


}

.sq{
    z-index: 86;
    opacity: 1;
    border: 1px solid transparent;
    filter: hue-rotate(0deg) saturate(1) brightness(1) contrast(1) invert(0) sepia(0) blur(0px) grayscale(0);
    border-radius: 10px;
    background-image: none;
    background-size: cover;
    background-color: #C5EBF3;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.imp{
    z-index: 86;
    opacity: 1;
    border: 1px solid transparent;
    filter: hue-rotate(0deg) saturate(1) brightness(1) contrast(1) invert(0) sepia(0) blur(0px) grayscale(0);
    border-radius: 10px;
    background-image: none;
    background-size: cover;
    background-color: #C5EBF3;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.m{
    z-index: 86;
    opacity: 1;
    border: 1px solid transparent;
    filter: hue-rotate(0deg) saturate(1) brightness(1) contrast(1) invert(0) sepia(0) blur(0px) grayscale(0);
    border-radius: 10px;
    background-image: none;
    background-size: cover;
    background-color: #C5EBF3;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.qwe{
    display: flex;
    flex-direction: row;
    background-color:#C5EBF3;
    opacity: 0.5px;
    margin-top: 90px;
    width: 80vh;
    height: 55vh;
    border-radius: 20px;
}

.mapa{
    display: flex;
    height: 50vh;
    width: 80vh;
    margin-left: 20vh;
    margin-top: 40px;
    border: solid 2px #C5EBF3;
    border-radius: 20px;
}

.hhl{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -90px;
    padding: 80px;

    font-family: "Montserrat",sans-serif;
    font-style: normal;
    font-weight: 400;

    margin-top: -50px;

}

.ssd{
    display: flex;
    flex-direction: row;
  
}

.ssd p{
    text-align: center;
    width: 550px;
    margin-left: 60px;

    font-size: 20px;
    font-family: "Montserrat",sans-serif;
    font-style: normal;
    font-weight: 400;
}

.kjkj{
    display: flex;
    height: 50px;
    margin-left: -65vh;
    margin-top: 110px;

    z-index: 86;
    opacity: 1;
    border: 1px solid transparent;
    filter: hue-rotate(0deg) saturate(1) brightness(1) contrast(1) invert(0) sepia(0) blur(0px) grayscale(0);
    border-radius: 30px;
    background-image: none;
    background-size: cover;
    background-color: #C5EBF3;
    background-position: 50% 50%;
    background-repeat: no-repeat;

}

.jjj{
    display: flex;
    height: 50px;
    margin-left: 70px;
    margin-top: 110px;

    z-index: 86;
    opacity: 1;
    border: 1px solid transparent;
    filter: hue-rotate(0deg) saturate(1) brightness(1) contrast(1) invert(0) sepia(0) blur(0px) grayscale(0);
    border-radius: 30px;
    background-image: none;
    background-size: cover;
    background-color: #C5EBF3;
    background-position: 50% 50%;
    background-repeat: no-repeat;

    box-shadow: 
    5px 5px 10px #59B2E0,
    -5px -5px 10px #59B2E0;

}

.jjj:focus{
    animation: shadow .15s
    ease-in-out ;
}

@keyframes shadow {
    0%{
        box-shadow:  
        inset 5px 5px 10px blue,
        inset 5px -5px 10px #3294cc;

    }
    100% {
        box-shadow: nome;
    }
}

.pin{
    display: flex;
    margin-top: 40vh;
    margin-left: -980vh;
    width: -90vh;
    height: 90px;
}

.video{
    background-image: url(../../images/dor.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    margin-top: 20vh;
}

.dor{
    border-radius: 10px 10px 10px 10px;
    margin-top: 10vh;
    margin-left: 10vh;
    background-color: beige;
    opacity: 0.5;
    height: 60vh;
    width: 70vh;

    position: absolute;
}

.dente{
    font-size: 45px;
    box-sizing: border-box;


}

.testinho{
    font-size: 20px;
    line-height: 1;
    box-sizing: border-box;

    font-size: 1.75rem;

    margin-top: 0.5rem;
    margin-bottom: 1rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
    box-sizing: border-box;

    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.çç{
    margin-left: 10px;
}

.dorzi{
    display: flex;
    font-weight: 500;
    color:beige;
    font-size: 16px;
    padding: 15px 30px;
    margin-left: 20vh;
    margin-top: 5vh;
    background-color: #59B2E0;
    border-style: solid;
    border-width: 0px 0px 0px 0px;
    border-radius: 30px 30px 30px 30px;
}

.roda{
    display: flex;
    margin-top: 20vh;
    background-color:#59B2E0;
   height: 50vh;
    position: relative;
    align-items: center;
    justify-content: center;
   
}

.logo{
    margin-top: 20vh;
    display: flex;
    height: 40vh;
    width: 40vh;
    align-items: center;
    justify-content: center;
}