


.btn{
  display: inline-block;
  padding:.9rem 1.5rem;
  border-radius: var(--border-radius);
  color:var(--main-color);
  background: none;
  border:var(--border);
  cursor: pointer;
  margin-top: 1rem;
  font-size: 1.7rem;
}

.btn:hover{
  border-radius: var(--border-radius-hover);
  border:var(--border-hover);
}

.header{
  position: fixed;
  top:0; left: 0; right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
 
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
  padding:2rem 9%;
  background-color: #fff;

  
 
 
}

.header .logo{
  color:var(--main-color);
  font-size: 2.3rem;
}

.header .logo i{
  padding-left: .5rem;
}

.header .navbar a{
  margin:0 1rem;
  font-size: 1.7rem;
  color:var(--main-color);
}

.header .btn{
  margin-top: 0;
}














/* media queries  */

@media(max-width:991px){

  html{
      font-size: 55%;
  }

  .header{
      padding:2rem;
  }

  section{
      padding:2rem;
  }

}

@media(max-width:768px){

  .heading{
      font-size: 6rem;
  }

  .heading span{
      font-size: 2.3rem;
  }

  #menu-btn{
      display: initial;
  }

  #menu-btn.fa-times{
      transform:rotate(180deg);
  }

  .header .navbar{
      position: absolute;
      top:99%; left:0; right:0;
      background:#fff;
      clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
      opacity: 5;
  }

  .header .navbar.active{
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }

  .header .navbar a{
      display: block;
      font-size: 2.2rem;
      margin:0;
      padding:1.5rem 2rem;
  }

  .home{
      text-align: center;
  }

  .home .row .content h3{
      font-size: 4rem;
  }

  .menu .box-container .box{
      margin-left: 0;
      margin-top: 6rem;
      flex-flow: column;
      text-align: center;
  }

  .menu .box-container .box img{
      margin-left: 0;
      margin-top: -6rem;
  }

}