:root{
    --primary:#1f2e88;
    --secondary:#2f66d4;
    --hover: #a2d9f5;
    --black:#333;
    --white:#fff;
    --light-color:#666;
    --light-bg:#eee;
    --border:.2rem solid rgba(0,0,0,.1);
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
}

*{
    font-family: 'Poppins', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}






.contact{
    background: var(--light-bg);
    margin-top: 50px;
}

.contact .foor{
    padding: 2rem;
    background: var(--white);
    max-width: 50rem;
    margin: 0 auto;
    border-radius: .5rem;
}

.contact .foor span{
    font-size: 1.7rem;
    color: var(--primary);
}

.contact .foor .inputBox{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contact .foor .inputBox input{
    padding: 1rem;
    margin: 1rem 0;
    font-size: 1.7rem;
    color: var(--black);
    text-transform: capitalize;
    background: var(--light-bg);
    border-radius: .5rem;
    width: 49%;
}

.contact .foor .box{
    margin: 1rem 0;
    width: 100%;
    background: var(--light-bg);
    border-radius: .5rem;
    padding: 1rem;
    font-size: 1.7rem;
    color: var(--black);
    text-transform: capitalize;
}